@import url("./scrollbar.css");

* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #222;
    height: 500px;
    background: #222 url("/img/background.png") repeat scroll left top;
}

h1 {
    color: #be3126;
    text-shadow: 1px 1px 1px #111;
    text-align: center;
}

p {
    font-size: 14px;
    line-height: 1.625;
}

#interface {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
#list {
    width: 50%;
}
#filters{
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
}
#filters input{
    margin: 5px;
    padding: 5px;
}
#filters small{
    color: #be3126;
}
#spell-list {
    height: 100%;
    overflow-y: auto;
    background-color: #bbbbbb;
    border-radius: 5px;
    border: 1px solid #111;
    box-shadow: 1px 1px 2px #111;
}
#list-header {
    color: white;
    background-color: #1d006d;
    padding: 5px;
    border: 1px solid #3a11a8;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
#spell-list ul {
    list-style-type: none;
    padding: 10px 5px;
    text-align: center;
    font-size: 12px;
}
#spell-list li {
    border: 1px solid #777;
    border-top: 0;
}
#spell-list li:nth-child(even) {
    background-color: #b2b2b2;
}
#spell-list li a {
    display: flex;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    color: #111;
    padding: 10px;
}
#spell-list li a:hover {
    background-color: #1d006d31;
    font-weight: bold;
    cursor: pointer;
}
#spell-list span {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    width: 50%;
    height: max-content;
    min-height: 520px;
    max-height: 100%;
    overflow-y: auto;
    background-color: #b8b8b8;
    border: 1px solid #222;
    box-shadow: 1px 1px 2px #111;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#content h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}
#content p {
    margin: 10px;
    text-align: justify;
}
#content h4 {
    margin: 5px;
    margin-top: 10px;
    font-weight: normal;
}
#content > div:nth-child(3){
    border-top: 2px solid #1d006d;
}
#content table{
    border: 1px solid #333;
    border-collapse: collapse;
    width: 100%;
}
#content td,th{
    border: 1px solid #333;
    padding: 10px;
    font-size: 12px;
    text-align: justify;
}
#content th{
    background-color: #888;
    text-align: center;
}
#content td:first-child{
    white-space: nowrap;
}

.spell-stats{
    display: flex;
    justify-content: space-evenly;
}
.spell-stats div{
    width: 25%;
    text-align: center;
    margin: 5px 0px 10px 0px;
}
.spell-stats div h2{
    margin: 0;
    font-size: 14px;
}
.spell-stats div h3{
    margin: 5px 0px;
    font-size: 12px;
    font-weight: normal;
}
#content hr {
    border: 1px solid #1d006d;
}
#spell-evolution{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
#spell-evolution th{
    border: 1px solid #777;
    padding: 5px;
}
#spell-evolution td{
    border: 1px solid #777;
    padding: 5px;
}
#spell-evolution tr:hover{
    background-color: #1d006d3a;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.loading {
    background-image: url("/img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
}